@model OnlineForum.Web.ViewModels.Comment.CommentsViewModel

@{
    Layout = "_Layout";
}

@await Component.InvokeAsync("Thread", new { @Model.Thread, ShowFullContent = true })

<p>Comments <a asp-controller="Comments" asp-action="Add" asp-route-parentId="0" asp-route-threadId="@Model.Thread.ThreadId" class="btn btn-link">Add New</a></p>

@foreach (var commentNode in @Model.Comments)
{
    
    @Html.Partial("_Comment", commentNode)

}
