@model OnlineForum.Web.ViewModels.Users.UserViewModel

@{
    Layout = "_Layout";
}


<h2>@Model.User.UserName Overview</h2>

<h3>Posts</h3>

@foreach (var thread in @Model.Threads)
{
    @await Component.InvokeAsync("Thread", new { thread, ShowFullContent = false })
}

<h3>Comments</h3>

@foreach (var commentNode in @Model.Comments)
{
    @await Component.InvokeAsync("Comment", new { commentNode, ShowFullContent = false })
}







