
.threadTitle{
    font-size: 24px;
}

.threadContent {
    width: 95%;
    word-wrap: break-word;
}

.threadRatingSection{
    width:60px;
}

.score{
    margin-top: 10px;
    margin-bottom: 10px;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}
.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}
