@model OnlineForum.Core.Models.User

@{
    Layout = "_Layout";
}

<h3>Create Account</h3>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Register" method="post" role="form">

    <div class="form-group">
        <label>Username</label>
        <input asp-for="UserName" class="form-control" />
    </div>
    
    <div class="form-group">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label>Password</label>
        <input asp-for="Password" class="form-control" />
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Create" />
        <a asp-action="Login" class="btn btn-default">Cancel</a>
    </div>

</form>
