@model OnlineForum.Core.Models.User

@{
    Layout = "_Layout";
}

<h3>Create Account</h3>

<form asp-action="Register" method="post" role="form">
    
    @if (TempData["signupFailure"] != null)
    {
        <div class="alert alert-danger">@TempData["signupFailure"]</div>
    }

    <div class="form-group">       
        <label>Username</label>
        <div><span asp-validation-for="UserName" class="text-danger"></span></div>
        <input asp-for="UserName" class="form-control"/>
    </div>
    
    <div class="form-group">     
        <label>Email</label>
        <div><span asp-validation-for="Email" class="text-danger"></span></div>
        <input asp-for="Email" class="form-control"/>
    </div>

    <div class="form-group">
        <label>Password</label>
        <div><span asp-validation-for="Password" class="text-danger"></span></div>
        <input asp-for="Password" class="form-control"/>
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Create" />
        <a asp-action="Login" class="btn btn-default">Cancel</a>
    </div>

</form>
