@model OnlineForum.Web.ViewModels.Comment.AddCommentViewModel

@{
    Layout = "_Layout";
}

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Add" method="post" role="form">
    
    <input type="hidden" asp-for="ThreadId" />
    <input type="hidden" asp-for="ParentId" />
    

    <div class="form-group">
        <label>Content</label>
        <textarea id="Content" class="form-control" asp-for="Content" rows="3"></textarea>
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Create"/>
        <a asp-action="Index" class="btn btn-default">Cancel</a>
    </div>

</form>