


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Online Forum</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    
    <link rel="stylesheet" href="/css/custom.css">
    

</head>
<body>
    
@inject IAuthorizationService AuthorizationService

<div class="container">
  
    <h1>Online Forum</h1>
    <p>Welcome </p>


    @RenderBody()


</div>
    
  
</body>
</html>
