<!DOCTYPE html>
<html>
<head>
    <title>OnlineForum</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"/>
    <title>Online Forum</title>
</head>
<body>
<div class="container">
    @RenderBody()
</div>
</body>
</html>
