@model System.Collections.Generic.IEnumerable<OnlineForum.Core.Models.Thread>

@{
    Layout = "_Layout";
}

<div class="panel">

    <a asp-controller="Forum" asp-action="Create" class="btn">Create</a>

</div>


@foreach (var thread in Model)
{
   @await Component.InvokeAsync("Thread", new { thread, ShowFullContent = false })
}

